<h1>This is your photo: <%= @individualphoto.caption %> </h1>

<ul>
  <li>
 <!--  <img src= 'http://www.saintthomashealth.com/media/uploads/images/hr_baby.jpg', width="500" , height="400"> </img> -->
    <img src= "<%= @individualphoto.source %>", width="500" , height="400"> </img>
  </li>
</ul>



